In [40]:
import psycopg2
import pandas as pd
import folium
from geopy.distance import great_circle
from sklearn.cluster import DBSCAN
import numpy as np
from datetime import datetime
from collections import Counter
from sqlalchemy import create_engine

In [41]:
USED_BUS_LINES = ['100', '108', '232', '2336', '2803', '292', '298', '3', '309', '315', '324', '328', '343', '355', '371', '388', 
                  '397', '399', '415', '422', '457', '483', '497', '550', '553', '554', '557', '565', '606', '624', '629', '634', 
                  '638', '639', '665', '756', '759', '774', '779', '803', '838', '852', '864', '867', '878', '905', '917', '918'] # SELECT DISTINCT FROM

In [42]:
# def database_query(linha) -> pd.DataFrame:
#     conn = psycopg2.connect(
#     database="gps_onibus_rj",
#     user="postgres",
#     password="admin",
#     host="localhost",
#     )

#     # Query to select relevant rows
#     query = (   f'SELECT ordem, latitude, longitude, datahora_ts, velocidade ' 
#                 f'FROM dados_gps '
#                 f'WHERE linha = \'{linha}\' '
#                 f'AND EXTRACT (HOUR FROM datahora_ts) in (23, 0, 1, 2, 3)'
#                 f'AND velocidade = 0'
#             )
#     # query = (   f'SELECT ordem, latitude, longitude, datahora_ts, velocidade ' 
#     #             f'FROM dados_gps_20240507 '
#     #             f'WHERE linha = \'{linha}\' '
#     #             f'AND EXTRACT (HOUR FROM datahora_ts) > 10 '
#     #             f'AND EXTRACT (HOUR FROM datahora_ts) < 22 '
#     #             f'UNION ALL '
#     #             f'SELECT ordem, latitude, longitude, datahora_ts, velocidade ' 
#     #             f'FROM dados_gps_20240508 '
#     #             f'WHERE linha = \'{linha}\' '
#     #             f'AND EXTRACT (HOUR FROM datahora_ts) > 10 '
#     #             f'AND EXTRACT (HOUR FROM datahora_ts) < 22 '
#             # )
#     df = pd.read_sql_query(query, conn)
#     conn.close()
#     return df

In [43]:
database_uri = 'postgresql://postgres:admin@localhost:5432/gps_onibus_rj'
db_engine_alchemy = create_engine(database_uri)

In [44]:
def database_query_alchemy(linha, engine) -> pd.DataFrame:
    # Query to select relevant rows
    query = (   f'SELECT ordem, latitude, longitude, datahora_ts, velocidade ' 
                f'FROM dados_gps '
                f'WHERE linha = \'{linha}\' '
                f'AND EXTRACT (HOUR FROM datahora_ts) in (23, 0, 1, 2, 3)'
                f'AND velocidade = 0 '
                f'AND EXTRACT (MONTH FROM datahora_ts) = 5'
    )
    df = pd.read_sql(query, con=engine)
    return df

In [45]:
database_query_alchemy('3', db_engine_alchemy)

         ordem  latitude  longitude         datahora_ts  velocidade
0       D53589 -22.88371  -43.49494 2024-05-02 23:59:38           0
1       D53606 -22.88388  -43.49493 2024-05-02 23:59:36           0
2       D53575 -22.88380  -43.49500 2024-05-02 23:59:37           0
3       D53680 -22.88370  -43.49509 2024-05-02 23:59:40           0
4       D53616 -22.88358  -43.49501 2024-05-02 23:59:47           0
...        ...       ...        ...                 ...         ...
114962  D53629 -22.88370  -43.49494 2024-05-03 03:58:51           0
114963  D53518 -22.88429  -43.49491 2024-05-03 03:58:42           0
114964  D53518 -22.88429  -43.49491 2024-05-03 03:58:44           0
114965  D53614 -22.88340  -43.49476 2024-05-03 03:58:45           0
114966  D53694 -22.88381  -43.49493 2024-05-03 03:58:47           0

[114967 rows x 5 columns]

In [55]:
def calculate_final_stops_v2(df: pd.DataFrame, radiusInMeters: int = 100):
    epsilon = radiusInMeters / 6371000  # Earth radius in meters

    # DBSCAN clustering
    coords = df[['latitude', 'longitude']].to_numpy()
    db = DBSCAN(eps=epsilon, min_samples=1, metric='haversine', n_jobs=-1).fit(np.radians(coords))

    # Extract cluster labels
    df['cluster'] = db.labels_

    # Count the number of points in each cluster
    cluster_counts = Counter(df['cluster'])

    # Get the top 3 most selected areas (excluding noise cluster -1 if present)
    top_clusters = cluster_counts.most_common(5)  # Usually enough to exclude noise

    # Print the results
    print("Top selected areas:")
    i = 1
    centroids_result = []
    for cluster_id, count in top_clusters:
        if cluster_id != -1:  # Exclude the noise cluster
            cluster_points = df[df['cluster'] == cluster_id]
            center_lat = cluster_points['latitude'].mean()
            center_lon = cluster_points['longitude'].mean()
            print(f"Cluster {cluster_id}: Center ({center_lat}, {center_lon}), Count: {count}")
            centroids_result.append((i, (center_lat, center_lon), count))
            i += 1
    return centroids_result

In [56]:
bus_stops_per_line = {}

In [57]:
STOP_RADIUS = 30
for linha in USED_BUS_LINES:
    if linha == '3':
        continue
    df = database_query_alchemy(linha, db_engine_alchemy)
    # print(len(df_filtered.index))
    # bus_stops_per_line[linha] = calculate_final_stops(df_filtered)
    print(f'[{linha}]Tamanho df filtrado: {len(df.index)}')
    bus_stops_per_line[linha] = calculate_final_stops_v2(df, radiusInMeters=STOP_RADIUS)

[232]Tamanho df filtrado: 11102
Top selected areas:
Cluster 0: Center (-22.90230918359099, -43.29846899464484), Count: 9897
Cluster 19: Center (-22.90072454258675, -43.29027876971609), Count: 317
Cluster 18: Center (-22.908859055118114, -43.17023535433071), Count: 254
Cluster 16: Center (-22.905110526315784, -43.2887347368421), Count: 76
Cluster 49: Center (-22.905091176470588, -43.29295470588235), Count: 34
[388]Tamanho df filtrado: 9530
Top selected areas:
Cluster 1: Center (-22.935632067661274, -43.65591509140576), Count: 4759
Cluster 29: Center (-22.90147483724451, -43.18048240726722), Count: 1321
Cluster 34: Center (-22.905606417112303, -43.19311780748663), Count: 187
Cluster 37: Center (-22.855195286624202, -43.492234968152864), Count: 157
Cluster 223: Center (-22.880077131782944, -43.62595217054264), Count: 129
[606]Tamanho df filtrado: 20591
Top selected areas:
Cluster 1: Center (-22.902283469332023, -43.29841257851331), Count: 18309
Cluster 2: Center (-22.89576461448598, -43.294192628504675), Count: 856
Cluster 5: Center (-22.899501771300447, -43.21093679372198), Count: 446
Cluster 6: Center (-22.924335794392526, -43.23302242990654), Count: 107
Cluster 27: Center (-22.90190846153846, -43.27976692307693), Count: 39
[759]Tamanho df filtrado: 4576
Top selected areas:
Cluster 0: Center (-22.935633354114714, -43.655969559434745), Count: 2406
Cluster 7: Center (-22.831849465648855, -43.34318170483461), Count: 393
Cluster 38: Center (-22.93708326923077, -43.65524769230769), Count: 104
Cluster 46: Center (-22.87917944444444, -43.62051044444445), Count: 90
Cluster 31: Center (-22.85526097560976, -43.49249975609756), Count: 82

In [58]:
print(len(bus_stops_per_line))
bus_stops_per_line

4

{'232': [(1, (-22.90230918359099, -43.29846899464484), 9897),
  (2, (-22.90072454258675, -43.29027876971609), 317),
  (3, (-22.908859055118114, -43.17023535433071), 254),
  (4, (-22.905110526315784, -43.2887347368421), 76),
  (5, (-22.905091176470588, -43.29295470588235), 34)],
 '388': [(1, (-22.935632067661274, -43.65591509140576), 4759),
  (2, (-22.90147483724451, -43.18048240726722), 1321),
  (3, (-22.905606417112303, -43.19311780748663), 187),
  (4, (-22.855195286624202, -43.492234968152864), 157),
  (5, (-22.880077131782944, -43.62595217054264), 129)],
 '606': [(1, (-22.902283469332023, -43.29841257851331), 18309),
  (2, (-22.89576461448598, -43.294192628504675), 856),
  (3, (-22.899501771300447, -43.21093679372198), 446),
  (4, (-22.924335794392526, -43.23302242990654), 107),
  (5, (-22.90190846153846, -43.27976692307693), 39)],
 '759': [(1, (-22.935633354114714, -43.655969559434745), 2406),
  (2, (-22.831849465648855, -43.34318170483461), 393),
  (3, (-22.93708326923077, -43.65524769230769), 104),
  (4, (-22.87917944444444, -43.62051044444445), 90),
  (5, (-22.85526097560976, -43.49249975609756), 82)]}

In [59]:
df_results_dict = {'linha':[], 'cluster_order':[], 'latitude':[], 'longitude':[], 'cluster_count':[]}
for linha, info_list in bus_stops_per_line.items():
    for info in info_list:
        df_results_dict['linha'].append(linha)
        df_results_dict['cluster_order'].append(info[0])
        df_results_dict['latitude'].append(info[1][0])
        df_results_dict['longitude'].append(info[1][1])
        df_results_dict['cluster_count'].append(info[2])
df_results = pd.DataFrame.from_dict(df_results_dict)
df_results = df_results.sort_values(by=['longitude', 'latitude'])
df_results.to_csv('calculated_bus_garage.csv', index=False)
display(df_results)

   linha  cluster_order   latitude  longitude  cluster_count
15   759              1 -22.935633 -43.655970           2406
5    388              1 -22.935632 -43.655915           4759
17   759              3 -22.937083 -43.655248            104
9    388              5 -22.880077 -43.625952            129
18   759              4 -22.879179 -43.620510             90
19   759              5 -22.855261 -43.492500             82
8    388              4 -22.855195 -43.492235            157
16   759              2 -22.831849 -43.343182            393
0    232              1 -22.902309 -43.298469           9897
10   606              1 -22.902283 -43.298413          18309
11   606              2 -22.895765 -43.294193            856
4    232              5 -22.905091 -43.292955             34
1    232              2 -22.900725 -43.290279            317
3    232              4 -22.905111 -43.288735             76
14   606              5 -22.901908 -43.279767             39
13   606              4 -22.924336 -43.233022            107
12   606              3 -22.899502 -43.210937            446
7    388              3 -22.905606 -43.193118            187
6    388              2 -22.901475 -43.180482           1321
2    232              3 -22.908859 -43.170235            254

In [60]:
def create_bus_stops_map(df: pd.DataFrame):
    map_center = [df['latitude'].mean(), df['longitude'].mean()]
    folium_map = folium.Map(location=map_center, zoom_start=12)

    # Color array provided
    colors = ['red', 'blue', 'green', 'purple', 'orange', 'darkred', 'lightred', 'beige', 'darkblue', 'darkgreen', 'cadetblue', 'darkpurple', 'white', 'pink', 'lightblue', 'lightgreen', 'gray', 'black', 'lightgray']

    # Create a mapping from "linha" to colors
    linha_colors = {linha: colors[i % len(colors)] for i, linha in enumerate(df['linha'].unique())}

    # Add circle markers to the map
    df = df.sort_values(by=['longitude', 'latitude'])
    i = 0
    for _, row in df.iterrows():
        popup_text = f"i:{i}<br>linha: {row['linha']}<br>cluster_order: {row['cluster_order']}<br>cluster_count: {row['cluster_count']}<br>Location:({row['latitude']}, {row['longitude']})"
        folium.Marker(
        location=(row['latitude'], row['longitude']),
        popup=folium.Popup(popup_text, max_width=300),
        icon=folium.Icon(color=linha_colors[row['linha']])
        ).add_to(folium_map)
        # Add the circle to represent the radius
        folium.Circle(
            location=(row['latitude'], row['longitude']),
            radius=100,
            color=linha_colors[row['linha']],
            fill=True,
            fill_color=linha_colors[row['linha']],
            fill_opacity=0.2
        ).add_to(folium_map)
        i += 1

    # Save the map to an HTML file
    folium_map.save("maps/bus_garage_map.html")
create_bus_stops_map(df_results)